.container{
    text-align: center;
}
img{
    margin-top: 10%;
    margin-left: left 500px;
    height:220px;

}
input{
 width: 500px;
 height: 35px;
 margin: 4px;
 padding: 8px;
 border: 1px solid gray;
 border-radius: 25px;
}
button{
    height:40px ;
    width: auto;
    columns: #646464; ;
    background: #f2f2f2;
    border: none; 
cursor: pointer;
margin: 4px;
}
.btn2{
    height:40px ;
    width: auto;
    columns: #646464; ;
    background: #f2f2f2;
    border: none; 
}

.btn1:hover .btn2:hover{
    color: #373737;
    background: #030303;
    border: .5px solid: lightgrey;

}
